#cover {
  border-radius: 14px;
  height: 150px;
}

#data {
  padding-left: 15px;
  padding-top: 21px;
}

#dataContainer {
  display: flex;
  color: var(--smalltext-color);
  background-color: var(--background-color);
  border-radius: 15px;
  width: 450px;
}

.configContainer {
  margin-bottom: 10px;
}

.tcIn,
.bgIn,
.stcIn {
  width: 450px;
  padding-bottom: 10px;
}

#song {
  color: var(--text-color);
  font-weight: bold;
  font-size: larger;
}

#album {
  color: var(--text-color);
  font-weight: bold;
  font-size: smaller;
}

#artist {
  color: var(--text-color);
  font-weight: bold;
}

input {
  border-radius: 4px;
  float: right;
}
